.git
.gitignore
.github
.gitlab-ci.yml
*.md
!README.md
postgres-data
build
!build/test-results/*.tar.gz
!build/test-results/*.zip
tests
plugins_repo
tutorials
docker-compose.yml
Dockerfile
.dockerignore
*.log
var/cache/*
var/templates_compiled/*
var/plugins/*
www/images/*
www/admin/plugins/*
should_not_exist
devel.xml
tests.xml
*.properties
*.properties.example
crowdin.*
ecs.php
phpstan*
phpcs.xml.dist
rector.php
tests.xsl
openXDeliveryDataPrepare.zip
html-banner-appjs.html
instrukcja-obslugi.md
INSTALLATION.md
.dockerignore

